{% extends './base.html' %}
{% block content %}

    <div class="post">
    {% if book.image %}
    <div class ="image">
        <img src="{{ book.image.url }}" style="width:300px;height:auto">
    </div>
    {% endif %}
        <div class="date">
            {{ book.published_date }}
        </div>
        <h1><a href="{% url 'bbs:bookDetail' id=book.id %}">{{ book.title }}</a></h1>
        <p>{{ book.link|linebreaksbr }}</p>
    </div>


    
    <!--<h1>{{ staff.store.name }}店 {{ staff.name }}</h1>-->
    <p>{{ start_day }} - {{ end_day }}</p> 
    <h1>{{calendar}}</h1>
    <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="1">
        <tr>
            {% comment %}
            <td><a href="{% url 'bbs:bookDetail' staff.pk before.year before.month before.day %}">前週</a></td>
            {% endcomment %}
            {% for day in days %}
                {% if day in public_holidays %}
                    <th style="background-color: yellow">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 5 %}
                    <th style="color: blue;">{{ day | date:"d(D)" }}</th>
                {% elif day.weekday == 6 %}
                    <th style="color: red;">{{ day | date:"d(D)" }}</th>
                {% else %}
                    <th>{{ day | date:"d(D)" }}</th>
                {% endif %}
            {% endfor %}
            {% comment %}
            <td><a href="{% url 'bbs:bookDetail' staff.pk next.year next.month next.day %}">次週</a></td>
            {% endcomment %}
        </tr>

        {% for hour, book in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ hour }}:00
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if dt <= today %}
                            -
                        {% elif book %}
                            <a href="">○</a>
                        {% else %}
                            ×
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ hour }}:00
                </td>
            </tr>
        {% endfor %}

    </table>




    

{% endblock %}